/* Regular DIN */
@font-face {
  font-family: "DIN";
  src: url("fonts/D-DIN.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold DIN */
@font-face {
  font-family: "DIN";
  src: url("fonts/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Italic DIN */
@font-face {
  font-family: "DIN";
  src: url("fonts/D-DIN-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Condensed */
@font-face {
  font-family: "DIN Condensed";
  src: url("fonts/D-DINCondensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Condensed Bold */
@font-face {
  font-family: "DIN Condensed";
  src: url("fonts/D-DINCondensed-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Expanded */
@font-face {
  font-family: "DIN Expanded";
  src: url("fonts/D-DINExp.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Expanded Bold */
@font-face {
  font-family: "DIN Expanded";
  src: url("fonts/D-DINExp-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Expanded Italic */
@font-face {
  font-family: "DIN Expanded";
  src: url("fonts/D-DINExp-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
